{% block content %}

<div class="login-div">
<form action="?action=login"  method="post" class="login">
	<ul>
		<li>
		 <input type="text" name="email" placeholder="Please enter your Email here"/>
		</li>
		<li>
		   <input type="password" name="password" placeholder="password"/><input type="submit" name="login" value="Log in"/>
		</li>
		<li>
		  <input type="checkbox" Value="Remember me">Remember me
		</li>
	</ul>
	  <div class="errors">
            {{ error }}
    </div>
	</form>
</div>
{% endblock %}

